.jumbotron{
    margin: 0px;
    padding-top: 150px;
    text-align: center;
    
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.navbar{
    margin: 0px;
}
.jumbotron h2{
    color: #fff;
}
.jumbotron p{
    color: #fff;
    width: 50%;
    margin: auto;
}
.jumbotron .btn{
    margin-top: 30px;
}
.thumbnail{
    border: 10px solid #ddd;
    border-radius: 5%;
}
.caption{
    text-align: center;
}
footer{
    margin-top: 20px;
    border: 1px solid #ddd;
    text-align: center;
}
footer img{
    width: 30px;
    padding: 15px 0px;
}
footer .copyright{
    padding: 10px 0px;
    background-color: #ddd;
    margin: 0px;
}

@media screen and (min-width: 400px) and (max-width: 800px){
    
    .jumbotron p{
        color: #fff;
        width: 80%;
        margin: auto;
    }
        

    }
